body {
	background-color:  #CFCFDE;
	background-image: url(/img/Line-simple.png);
	background-size:7em; 
	background-repeat: repeat-x;
}
ul.list-content {
	margin-top: 2em;
	list-style: none;
	display: flex;
	justify-content: space-around;
	margin-left: 0;
	padding-left: 0;
}
ul li.align-list {
	display: inline-block;
	flex-grow: 1;
}
ul li a:link, a:visited {
	color: #2980B9;
	width: 100%;
	
	text-decoration: none;
	text-align: center;

	padding-top: 1em;
	padding-bottom: 1em;
	
	float: left;

	border-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #0C0C62
}
ul li a:hover{
	color: white;
	text-decoration: none;
	background-color: #2980B9;
	border-bottom-color: white;
}
ul li a:active{
	color: white;
	text-decoration: none;
	background-color: #2980B9;
	border-bottom-color: white;
}
td.info-content {
	background-color: #EDE299;
	border-radius: 20px;
}
img {
	width: auto;
	padding: auto;
	margin: 1em; 
	border-radius: 20px;
	max-width: 450px;
}
p.generic-info {
	text-align: center;
}
p.text-info {
	text-align: justify;
	margin: 1em;
}
h3.sub-titles {
	font-family: New Century Schoolbook, serif;
	margin-left: 2em;
}
table.tables-nice {
	border-width: 4px;
	border-radius: 15px;
	border-style: solid;
	border-color: white;	
	background-color: #2980B9;
}