h1.main-title {
	color: #0C0C4D;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	font-family: New Century Schoolbook, serif;
	margin-top: 2em;
}
td.contact-content {
	background-color: #2980B9;
	border-radius: 20px;
}